


.top-panel {
    background-color: #47A992;
    display: flex;
    flex-wrap: wrap;
    height: 45px;
    align-items: center;
    border-radius: 10px;
    position: sticky;
}

/* right side panel */
.right-side {
    position: absolute;
    right: 10px;
    display: flex;
    flex-wrap: wrap;
}

.right-side-panel {
    font-size: 16px;
    text-decoration: none;
    color: white;
    padding: 20px;
}


#title-logo {
    color: white;
    text-decoration: none;
    font-size: 24px;
    padding: 20px;
    letter-spacing: 5px;
}

.left-panel {
    margin-top: 20px;
    width: 300px;
    color: white;
    border-bottom-right-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    padding: 5px;
    background-color: #47A992;
    position: sticky;
}

.search-input{
    border-bottom-right-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    background-color: white;
    border-style: none;
    font-size: medium;
    height: 30px;
    width: 290px;
    padding-left: 8px;
}




/*footer*/
/* .footer-panel {
    color: white;
    padding: 15px;
    background-color: #47A992;
    border-radius: 10px;
    text-align: center;
    position: sticky;
    margin-top: 743px;
}
 */
